 h1 {
   color: #F5F5F5;
   filter: drop-shadow(5px 5px 5px #222);
   font-family: 'Montserrat', sans-serif;
   font-size: 3em;
   text-align: center;
 }

 h2 {
   color: #D3D3D3;
   font-size: 1.5em;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
 }

 img {
   filter: drop-shadow(5px 5px 5px #222);
 }

 span {
   background: #F5F5F5 !important
 }

 .about-me {
   background: url('../src/about-me-bg.jpg');
   background-position: center;
   background-size: cover;
 }

 .about-me-content {
   background-color: rgba(0, 0, 0, 0.4);
   left: 50%;
   padding: 20px;
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
 }

 .contact-me {
   background: url('../src/contact-me-bg.jpg');
   background-position: center;
   background-size: cover;
 }

 .education {
   background: url('../src/education-bg.jpg');
   background-position: center;
   background-size: cover;
 }

 .hobbies {
   background: url('../src/hobbies-bg.jpg');
   background-position: center;
   background-size: cover;
 }

 .home {
   background: url('../src/homeBG.jpg');
   background-position: center;
   background-size: cover;
   text-align: center;
 }

 .skills {
   background: url('../src/skills-bg.jpg');
   background-position: center;
   background-size: cover;
 }

 .work-experience {
   background: url('../src/work-experience-bg.jpg');
   background-position: center;
   background-size: cover;
 }
