 h1 {
   color: #F5F5F5;
   filter: drop-shadow(5px 5px 5px #222);
   font-family: 'Montserrat', sans-serif;
   font-size: 3em;
   text-align: center;
 }

 h2 {
   color: #D3D3D3;
   font-size: 1.5em;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
 }

 img {
   filter: drop-shadow(5px 5px 5px #222);
 }

 p {
   color: #D3D3D3;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
 }

 span {
   background: #F5F5F5 !important
 }

 .about-me {
   background-attachment: fixed;
   background-image: url('../src/about-me-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   width: 100%;
 }

 .about-me p {
   width: 50%;
   margin-left: 25%;
 }

 .about-me-content {
   background-color: rgba(0, 0, 0, 0.6);
   left: 50%;
   padding: 20px;
   position: absolute;
   text-align: center;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
 }

 .contact-me {
   background-attachment: fixed;
   background-image: url('../src/contact-me-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   width: 100%;
 }

 .education {
   background-attachment: fixed;
   background-image: url('../src/education-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   width: 100%;
 }

 .education-content div {
   height: 34vh;
   width: 50%;
   margin: auto;
 }

 .college h1, .college p {
   text-align: left;
   margin-bottom: 0;
 }

 .college img {
   height: 230px;
   float: left;
   transform: rotate(-15deg);
   margin-right: 5%
 }

 .high-school img {
   height: 230px;
   float: right;
   transform: rotate(15deg);
   margin-left: 5%
 }

 .high-school h1, .high-school p {
   text-align: right;
   margin-bottom: 0;
 }

 .hobbies {
   background-attachment: fixed;
   background-image: url('../src/hobbies-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   width: 100%;
 }

 .home {
   background-attachment: fixed;
   background-image: url('../src/home-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   text-align: center;
   width: 100%;
 }

 .home h1 {
   font-family: Courier New, Courier, monospace;
   margin: 0px
 }

 .home h2 {
   letter-spacing: 4px;
 }

 .home img {
   height: 250px;
   width: 250px;
   margin-bottom: 50px;
 }

 .scrolldown {
   bottom: 15px;
   height: 40px;
   left: 50%;
   position: absolute;
   transform: translateY(-80px) translateX(-50%) rotate(45deg);
   width: 40px;
 }

 .scrolldown span {
   animation: animate 1s linear infinite;
   background: none !important;
   border-bottom: 2px solid #D3D3D3;
   border-right: 2px solid #D3D3D3;
   display: block;
   height: 100%;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   width: 100%;
 }

 .scrolldown span:nth-child(1) {
   animation-delay: -0.4s;
   transform: translate(-15px, -15px);
 }

 .scrolldown span:nth-child(2) {
   animation-delay: -0.2s;
   transform: translate(0px, 0px);
 }

 .scrolldown span:nth-child(3) {
   transform: translate(15px, 15px);
 }

 .skills {
   background-attachment: fixed;
   background-image: url('../src/skills-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   text-align: center;
   width: 100%;
 }

 .work-experience {
   background-attachment: fixed;
   background-image: url('../src/work-experience-bg.jpg');
   background-position: center;
   background-size: cover;
   display: table;
   height: 100vh;
   text-align: center;
   width: 100%;
 }

 @keyframes animate {
   0% {
     left: -5px;
     opacity: 0;
     top: -5px;
   }

   25% {
     left: 0px;
     opacity: 1;
     top: 0px;
   }

   100% {
     left: 5px;
     opacity: 0;
     top: 5px;
   }
 }

 [data-scroll] {
   transition: all 2s;
 }

 [data-scroll="in"] {
   opacity: 1;
   transform: translateX(0);
 }

 [data-scroll="out"] {
   opacity: 0;
   transform: translateX(-200px);
 }

 /* loader style */
 .loader {
   position: fixed;
   z-index: 99;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: #191919;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .loader.hidden {
   animation: fadeOut 0.5s;
   animation-fill-mode: forwards;
 }

 @keyframes fadeOut {
   100% {
     opacity: 0;
     visibility: hidden;
   }
 }

 /* custom loding animation */
 .lds-ripple {
   display: inline-block;
   position: relative;
   width: 64px;
   height: 64px;
 }

 .lds-ripple div {
   position: absolute;
   border: 4px solid #fff;
   opacity: 1;
   border-radius: 50%;
   animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
 }

 .lds-ripple div:nth-child(2) {
   animation-delay: -0.5s;
 }

 @keyframes lds-ripple {
   0% {
     top: 28px;
     left: 28px;
     width: 0;
     height: 0;
     opacity: 1;
   }

   100% {
     top: -1px;
     left: -1px;
     width: 58px;
     height: 58px;
     opacity: 0;
   }
 }
